* {
    font-family: 'Ubuntu', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
    width: 80%;
}

#score-record:hover {
    color: rgb(96, 227, 161);
    cursor: pointer;
}

.container {
    padding: 20px;
    flex-direction: column;
    width: 1050px;
    margin: auto;
}

.title {
    margin-bottom: 50px;
    font-size: large;
}

.quiz-questions {
    align-items: flex-start;
    justify-content: flex-start;
    padding: 40px 20px;
    margin: auto;
  }

.button {
    background-color: rgb(41, 61, 152);
    border: none;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px  grey;
    color: white;
    font-weight: 800;
}

.button:hover {
    background-color: rgb(96, 227, 161);
    cursor: pointer;
}

.choice-button {
    margin: 5px;
    border-style: none;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgb(41, 61, 152);
    border: none;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 0 2px 5px  grey;
    color: white;
}

.choice-button:hover {
    color: rgb(96, 227, 161);
    cursor: pointer;
}

#leaderboard li {
    list-style-type: decimal;
    padding: 2px;
    margin: 2px;
}

#quiz-choices {
    margin-bottom: 25px;
}

#initials {
    margin-right: 10px;
}